<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @card.id %>
</p>

<p>
  <strong>Amber:</strong>
  <%= @card.amber %>
</p>

<p>
  <strong>Armor:</strong>
  <%= @card.armor %>
</p>

<p>
  <strong>Card number:</strong>
  <%= @card.card_number %>
</p>

<p>
  <strong>Card text:</strong>
  <%= @card.card_text %>
</p>

<p>
  <strong>Card title:</strong>
  <%= @card.card_title %>
</p>

<p>
  <strong>Card type:</strong>
  <%= @card.card_type %>
</p>

<p>
  <strong>Expansion:</strong>
  <%= @card.expansion %>
</p>

<p>
  <strong>Flavor text:</strong>
  <%= @card.flavor_text %>
</p>

<p>
  <strong>Front image:</strong>
  <%= @card.front_image %>
</p>

<p>
  <strong>House:</strong>
  <%= @card.house %>
</p>

<p>
  <strong>Is maverick:</strong>
  <%= @card.is_maverick %>
</p>

<p>
  <strong>Power:</strong>
  <%= @card.power %>
</p>

<p>
  <strong>Rarity:</strong>
  <%= @card.rarity %>
</p>

<p>
  <strong>Traits:</strong>
  <%= @card.traits %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
